.idea
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
functions/node_modules
functions/package-lock.json
service/node_modules
service/package-lock.json
